# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Environment
.env
.env.*
*.env

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Others
*.sqlite3
*.db

# Build
build/
dist/
*.egg-info/

# Test
htmlcov/
.coverage
.cache/

# Misc
*.bak
*.swp
*.tmp
